.landing {
    &__content {
        background-image: url(https://images.unsplash.com/photo-1532009172808-fe52563c17aa?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80);
        background-size: cover;
        background-position: center bottom;
        height: 100vh;
        position: relative;
        clip-path: polygon(
            2rem 2rem,
            calc(100% - 2rem) calc(0% + 2rem),
            calc(100% - 2rem) calc(90% - 2rem),
            calc(0% + 2rem) calc(100% - 2rem)
        );
    }

    &__icon-box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 5rem;
        left: 5rem;
        height: 10rem;
        width: 10rem;
        z-index: 25;
    }

    &__icon {
        fill: white;
        height: 6.5rem;
    }

    &__title {
        position: absolute;
        text-align: center;
        padding-left: 3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12rem;
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2rem;
        white-space: nowrap;
        border-bottom: white solid 3px;
    }

    &__info-btn {
        color: var(--color-blue);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20rem;
        height: 4rem;
        font-weight: 300;
        font-family: sans-serif;
        font-size: 1.5rem;
        letter-spacing: 4px;
        text-transform: uppercase;
        border-radius: 30px;
        background: #fff;
        cursor: pointer;
        box-shadow: 0 0 0 0 rgba(#fff, 0.5);
        animation: pulse 2s infinite;
        z-index: 22;
    }

    &__info-btn:active {
        background: var(--grey-light-2);
    }

    &__info-btn:hover {
        animation: none;
    }
}

// Nav Button Styles
.nav-btn {
    &--menu,
    &--cross {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
        top: 5rem;
        right: 5rem;
        z-index: 21;
        background-color: white;
        border-radius: 50%;
    }

    &--menu {
        opacity: 0;
        animation: hide-menu-icon 0.5s ease-in-out forwards;
        animation-direction: reverse;
        z-index: 30;
    }

    &--cross {
        animation: rotate-cross 0.5s ease-in-out forwards;
        animation-direction: reverse;
    }
    .nav-btn__icon,
    .nav-btn__icon {
        height: 6.5rem;
        fill: var(--color-black);
        margin: 0;
        padding: 0;
    }
}

main {
    margin: 5rem 0;
}

// Animations
@keyframes pulse {
    0% {
    }

    70% {
        box-shadow: 0 0 0 35px rgba(#fff, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(#fff, 0);
    }
}

@keyframes hide-menu-icon {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes rotate-cross {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
