:root {
  --color-blue: #417a97;
  --color-green: #6fd08c;
  --color-lavendar: #dddbf1;
  --color-brown: #4e3d42;
  --color-black: #1e1e24;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--grey-light-2);
  min-height: 100vh; }

.container {
  max-width: 120rem;
  width: 80%; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }

.landing__content {
  background-image: url(https://images.unsplash.com/photo-1532009172808-fe52563c17aa?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  position: relative;
  -webkit-clip-path: polygon(2rem 2rem, calc(100% - 2rem) calc(0% + 2rem), calc(100% - 2rem) calc(90% - 2rem), calc(0% + 2rem) calc(100% - 2rem));
  clip-path: polygon(2rem 2rem, calc(100% - 2rem) calc(0% + 2rem), calc(100% - 2rem) calc(90% - 2rem), calc(0% + 2rem) calc(100% - 2rem)); }

.landing__icon-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5rem;
  left: 5rem;
  height: 10rem;
  width: 10rem;
  z-index: 25; }

.landing__icon {
  fill: white;
  height: 6.5rem; }

.landing__title {
  position: absolute;
  text-align: center;
  padding-left: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2rem;
  white-space: nowrap;
  border-bottom: white solid 3px; }

.landing__info-btn {
  color: var(--color-blue);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 4rem;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-radius: 30px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  z-index: 22; }

.landing__info-btn:active {
  background: var(--grey-light-2); }

.landing__info-btn:hover {
  -webkit-animation: none;
  animation: none; }

.nav-btn--menu, .nav-btn--cross {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  top: 5rem;
  right: 5rem;
  z-index: 21;
  background-color: white;
  border-radius: 50%; }

.nav-btn--menu {
  opacity: 0;
  -webkit-animation: hide-menu-icon 0.5s ease-in-out forwards;
  animation: hide-menu-icon 0.5s ease-in-out forwards;
  animation-direction: reverse;
  z-index: 30; }

.nav-btn--cross {
  -webkit-animation: rotate-cross 0.5s ease-in-out forwards;
  animation: rotate-cross 0.5s ease-in-out forwards;
  animation-direction: reverse; }

.nav-btn .nav-btn__icon,
.nav-btn .nav-btn__icon {
  height: 6.5rem;
  fill: var(--color-black);
  margin: 0;
  padding: 0; }

main {
  margin: 5rem 0; }

.about {
  display: flex;
  justify-content: center; }
  .about__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2.5rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    padding: 3rem;
    border-radius: 1rem;
    background-color: #fff; }
    .about__card__title {
      display: flex;
      justify-content: center;
      font-size: 10rem;
      color: var(--color-blue);
      border-bottom: var(--color-blue) solid 0.5rem;
      margin-bottom: 3rem; }
    .about__card__img {
      width: 35%;
      outline: var(--color-blue) solid 0.75rem; }
    .about__card__text {
      width: 60%;
      font-size: 3rem; }

@-webkit-keyframes pulse {
  0% { }
  70% {
    box-shadow: 0 0 0 35px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

@keyframes pulse {
  0% { }
  70% {
    box-shadow: 0 0 0 35px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

@-webkit-keyframes hide-menu-icon {
  0% {
    transform: rotate(0deg);
    opacity: 1; }
  100% {
    transform: rotate(360deg);
    opacity: 0; } }

@keyframes hide-menu-icon {
  0% {
    transform: rotate(0deg);
    opacity: 1; }
  100% {
    transform: rotate(360deg);
    opacity: 0; } }

@-webkit-keyframes rotate-cross {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotate-cross {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
